In [36]:
#question 1
a=0
def b():
  global a
  a=c(a)
def c(a):
  return a+2    
b()
b()
b()
a

6

In [37]:
#question 2
def fileLength(file_name):
  try:
     file=open(file_name)
     contents=file.read()
     print(len(contents))
  except FileNotFoundError:
    print("file "+file_name+" not found")
 
fileLength("hello.txt")

file hello.txt not found

In [38]:
#question3
class Content:
    def __init__(self):
        self.pouch = []
        
    def insert_in_pouch(self, item):
        self.pouch.append(item)
        
    def items_in_pouch(self):
        return self.pouch

In [39]:
m = Content()
m.insert_in_pouch('apple')
m.insert_in_pouch('mangoes')
m.insert_in_pouch('grapes')

m.items_in_pouch()

['apple', 'mangoes', 'grapes']

In [40]:
#question 3
class Marsupial():
    def __init__(self):
        self.lst=[]
    def put_in_pouch(self,xx):
        self.lst.append(xx)        
    def pouch_contents(self):
        return self.lst
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
        
    def jump(self, dx,dy):
        self.x +=dx
        self.y +=dy
        
    def __str__(self):
        return("I am a Kangaroo located at coordinates ({},{})".format(self.x,self.y))
  
k = Kangaroo(0,0)
print(k) 
k.put_in_pouch('doll') 
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

In [41]:
#question 4
def collatz(a):
  if a==1:
    print(a)
    return
  elif a%2==0:
    print(a)
    collatz(a/2)
  else :
    print(a)
    collatz(3*a+1)
collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

In [42]:
#question 5
def binary(a):
  if a==1:
    print(1,end='')
    return
  elif a==0:
    print(0,end='')
  else:
    print(a%2,end='')
    binary(a/2)
binary(2)

01

In [43]:
#question 6
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

var='False'

class HeadingParser(HTMLParser):  
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            global var
            var = "True" 
    def handle_endtag(self, tag):
        if var == "False":
            print("")
    def handle_data(self, data):
        if var == "True":
                
            print(data)

infile = open('w3c.html') 
content = infile.read() 
infile.close() 
linkparser = HeadingParser() 
linkparser.feed(content)

W3C Mission


Principles

In [23]:
#question8
!pip install ipython-sql
import sqlite3
con = sqlite3.connect('mydatabase.db')
cur = con.cursor()
cur.execute("CREATE TABLE DATA1 (City text, Country text, Season text, Temperature float, Rainfall float)")
lst=[('Mumbai', 'India','Winter',24.8, 5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),
     ('Mumbai','India','Fall',27.6,346.0),('London','United Kingdom','Winter',4.2,207.7),
     ('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157.0),
     ('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),
     ('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)]
for i in lst:
    cur.execute("INSERT INTO DATA1 VALUES (?,?,?,?,?)",i)
    con.commit()
con.close()
con = sqlite3.connect('mydatabase.db')
cur = con.cursor()
cur.execute('SELECT * FROM DATA1')
for i in cur :
    print(i)
    #cur.fetchall()

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=711147f18d62564b189cf5f63561d06e1b4caba773daa77ea5007dca66c808f0
  Stored in directory: c:\users\yoges\appdata\local\pip\cache\wheels\48\6d\77\9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [24]:
#QUESTION 8a:All the temperature data.

cur.execute('SELECT Temperature FROM DATA1')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [26]:
#8b:All the cities, but without repetition.
cur.execute('SELECT DISTINCT City from DATA1');
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [27]:
#8c:All the records for India.

cur.execute('SELECT * FROM DATA1 WHERE Country ="India" ')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [28]:
#8c:All the records for India.

cur.execute('SELECT * FROM DATA1 WHERE Country ="India" ')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [29]:
#8c:All the records for India.

cur.execute('SELECT * FROM DATA1 WHERE Country ="India" ')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [30]:
#8e:The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

cur.execute('SELECT City,Country,Season FROM DATA1 WHERE Rainfall BETWEEN 200 AND 400 ')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [31]:
#8f:The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

cur.execute('SELECT City,Country FROM DATA1 WHERE Season="Fall" AND Temperature>20 ORDER BY Temperature ASC  ')
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [32]:
#8g:The total annual rainfall for Cairo.

cur.execute('SELECT SUM(Rainfall) FROM DATA1 WHERE Country="Cairo" ')
cur.fetchall()

[(None,)]

In [33]:
#8h:The total rainfall for each season.

cur.execute('SELECT SUM(Rainfall) FROM DATA1 GROUP BY Season ')
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

In [34]:
#question 7
def web(link,dp,ind):
        for indentation in range(ind+1):
            print('\t',end='')
        print(link)
        content = urlopen(link).read().decode()
        collector = Collector(link)
        collector.feed(content)
        links = collector.getLinks()
        for i in range(dp):
            try:
                web(links[i],dp-1,ind+1)
            except:
                pass
web('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

	http://reed.cs.depaul.edu/lperkovic/test1.html
		http://reed.cs.depaul.edu/lperkovic/test2.html
			http://reed.cs.depaul.edu/lperkovic/test4.html
		http://reed.cs.depaul.edu/lperkovic/test3.html
			http://reed.cs.depaul.edu/lperkovic/test4.html

In [35]:
#question 9
words1="The quick brown fox jumps over the lazy dog"
words=words1.split()
#a
j=0
for i in words:
  words[j]=i.upper()
  j+=1
words
#b
j=0
words=words1.split()
for i in words:
  words[j]=i.lower()
  j+=1
words
#c
l=[]
words=words1.split()
for i in words:
  l.append(len(i))
  
l
#d
l=[]
words=words1.split()
for i in words:
  temp=[]
  temp.append(i.upper())
  temp.append(i.lower())
  temp.append(len(i))
  l.append(temp)

l

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]